<section class="sliding-frame grid">
  <section class="list-frame frame span2">
    <div class="segment anime-list">
      <h1>Anime</h1>
      <ul>
        <% @anime.each do |anime| %>
          <li>
            <%= link_to anime.title, anime %>
          </li>
        <% end %>
      </ul>
      <%= link_to 'New Anime', new_anime_path %>
    </div>
  </section>
</section>


