<section class="wrapper header-wrapper">
	<header class="header">
		<div class="left">
			<%= link_to image_tag("header_logo_2x.png", :alt => "Backlog: Your Animation Database.", :class => "logo") %>
			<%= link_to "anime", anime_index_path, :class => "nav-link" %>
			<%= link_to "series", series_index_path, :class => "nav-link" %>
			<%= link_to "studio", studios_path, :class => "nav-link" %>
		</div>
		<div class="right">
			
		</div>
	</header>
</section>