$theme-color: #037f8c;
$theme-background: #F9F9F9;

// Styles

html, body {
	width: 100%;
	height: 100%;}
body {
	background-color: #F9F9F9;
	font-family: 'Open Sans', sans-serif;}
a {
	text-decoration: none;}
h1, h2, h3 {
	color: #333;
	font-weight: 300;
	line-height: 1.3;
}

p {
	font-size: 85%;
	line-height: 1.5;
}

// Lists
.top-list {
	ol {
	    counter-reset:li;
		li {
		    position:relative;
		    padding:8px;
		    list-style:none;
		    border-bottom: 1px solid #EFEFEF;
		    font-size: 85%;}
		li:hover {
			background-color: #EFEFEF;}
		li:first-child {
			padding: 16px 8px;
			font-size: 100%;}
		li:first-child:before {
			font-size: 85%;}
		li:before {
			color: $theme-color;
		    content:counter(li, decimal-leading-zero);
		    counter-increment:li;
		    left:-2em;
		    -moz-box-sizing:border-box;
		    -webkit-box-sizing:border-box;
		    box-sizing:border-box;
		    width:2em;
		    margin-right:8px;
		    padding:8px;
		    text-align:center;
		    border-right: 1px solid #EFEFEF;}
		.left {
			display: inline;}
		.right {
			float: right;
			font-size: 90%;
			color: $theme-color;
			padding-right: 10px;}
	}
}

.list {
	ul {
		li {
		    padding:8px 0px;
		    border-bottom: 1px solid #EFEFEF;
		    font-size: 85%;}
		li:first-child {
			padding: 16px 0px;
			font-size: 100%;}
		.left {
			display: inline;}
		.right {
			float: right;
			font-size: 90%;}
	}
}


/***
*
*  Static Frame
*
***/

.static-frame {
	position: fixed;
	z-index: 20;
}

.sliding-frame {
	position: absolute;
	z-index: 1;
	display: none;
	overflow-x: hidden;
	min-width: 300%;
	height: 100%;
	background-color: $theme-background;
	section {
		float: left;
		margin-top: 40px;
		padding: 0px 10px;
		height: 100%;}
	section:first-child {
		padding-left: 20px;
	}
	h1 {
		margin-bottom: 15px;
		font-size: 22px;}
	h2 {
		color: $theme-color;
		font-weight: 400;
		font-size: 100%;}
	.segment {
		img {
			width: 100%;}
	}
}

/***
*
*  Anime Index
*
***/

.featured {
	margin-bottom: 15px;
	padding-bottom: 19px;
	border-bottom: 1px #B8B8B8 solid;
	img {
		margin-bottom: 10px;
		width: 100%;
	}
}
.featured-frame {
	.img-wrapper {
		position: relative;
	}

	img{
		width: 100%;
	}

	.pull-info {
		font-size: 150%;
		color: white;
		background-color: #333;
		position: absolute;
		top: 10px;
		padding: 10px;
		padding-left: 20px;
		font-weight: 300;}
	.pull-watching img {
		margin: 7px 0px;
		margin-right: 6px;
		width: 20px;
		float: left;
	}

	.header-bar{
		display: none;
		background-color: #333;
		color: white;
		position: absolute;
		bottom: 0;
		width: 100%;
		.header-inner {
			padding: 10px 20px;
		}
		h2 {
			white-space: nowrap;
			span {
				font-size: 80%;
				text-transform: uppercase;
				color: #999;
				margin-left: 10px;
				font-weight: 600;
			}
		}
		a {
			color: $theme-color;
		}

		.backlog {
			position: absolute;
			top: 15px;
			right: 20px;
			font-size: 75%;
		}
	}

	.img-wrapper:hover .header-bar {
		display: block;
	}

	.info {
		overflow: hidden;
		.left-col{
			float: left;
			margin-top: 10px;
			margin-right: 20px;
			width: 270px;
			.text {
				font-size: 87.5%;
				line-height: 1.4;}
			.read-more {
				margin-top: 10px;
				color: $theme-color;
				font-size: 87.5%;
			}
		}
		
		.right-col {
			float: left;
			padding: 10px;
			width: 110px;
			height: 100%;
			background-color: #DCDCDC;
			font-weight: 600;
			font-size: 75%;
			li {
				margin-bottom: 10px;
				height: 12px;
				.icon {
					float: left;
					margin-right: 10px;
					width: 16px;
					height: 12px;}
				.text {
					float: left;
					clear: right;
					padding: 1px 0px;
					width: 84px;
				}
			}
		}
	}
}

/***
*
*  Header
*
***/

#global-header {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 40px;
	background-color: white;
	-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.18);
	-moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.18);
	box-shadow: 0px 0px 3px rgba(0,0,0,0.18);
}

#logo {
	position: relative;
	float: left;
	margin-left: 20px;
	padding: 12px 8px;
	background-color: white;
	-webkit-box-shadow: 0px 1px 5px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 1px 5px rgba(0,0,0,0.25);
	box-shadow: 0px 1px 5px rgba(0,0,0,0.25);
	.logo-inner {
		width: 190px;
		height: 20px;}
	}

#search-trigger {
	float: left;
	cursor: pointer;
	margin: 12px;
	width: 16px;
	height: 16px;
	background-color: white;
	background-image: url("/assets/search.png");
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	background-size: 100%;
}

/***
*
*  Sections
*
***/

.meta-frame {
	background-color: #E5E5E5;
	img {
		margin-bottom: 5px;
	}
}
