// Reset
/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic);

// General

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

// Font smoothing hack
html, html a {
    -webkit-font-smoothing: antialiased !important;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

body {
  font-family: "proxima-nova", sans-serif;
  background-color: #F4F4F4;
}

a {
  text-decoration: none;
  color: #262626;
  &:hover {
    text-decoration: none;
  }
}

.wrapper {
  width: 100%;
}

// Container

  // Variables
  $container-width: 1024px;
  $highlight-color: #1A8FCE;

.container {
  position: relative;
  padding-top: 16px;
  width: $container-width;
  min-height: 400px;
  margin: 0 auto;
  z-index: 1;
}

/*******
* Modules
********/

.home-module-wrapper {
  overflow: hidden;
}

.home-module {
  width: 340px;
  height: 400px;
  background-color: white;

  .module-title {
    text-transform: lowercase;
    text-align: center;
    line-height: 40px;
    width: 100%;
    font-weight: bold;
    color: #676767;
    border-bottom: 1px solid #EFEFEF;
  }

  .scrollable {
    position: relative;
  }

  li {
    padding: 10px 5px;
    height: 40px;
    border-bottom: 1px solid #EFEFEF;
    .icon {
      width: 40px;
      height: 40px;
      float: left;
      background-color: #EFEFEF;
      margin-right: 5px;
    }
    .name {
      font-weight: bold;
      line-height: 20px;
      color: $highlight-color;
    }
    .air-time {
      color: #444444;
      font-size: 85%;
      line-height: 20px;
    }
  }
}

/***

LAYOUT MODULES

***/

.two-col {
  .col {
    float: left;
    min-height: 1px;
    display: block;
  }
}

.two-col.six-three {
  .left-col {
    width: 600px;
    background-color: #FFF;
  }
  .right-col {
    margin-top: 24px;
    width: 300px;
  }
}

/***

SIDEBAR MODULES

***/

.meta-sidebar {
  width: 100%;
  background-color: white;
  .module-title {
    text-transform: lowercase;
    text-align: center;
    line-height: 40px;
    width: 100%;
    font-weight: bold;
    color: #676767;
    border-bottom: 1px solid #EFEFEF;
  }
  li {
    text-align: center;
    line-height: 40px;
    padding: 10px 5px;
    height: 40px;
    border-bottom: 1px solid #EFEFEF;
  }
  li.small {
    line-height: 30px;
    height: 30px;
  }
  li.tall {
    line-height: 50px;
    height: 50px;
  }
}